.i-popup {
	background: white;
}


.zclose {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 26px;
    color: black;
    opacity: 0.8;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 40px;
}
